# ===== Django =====
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=change-me-in-local-dev
ALLOWED_HOSTS=127.0.0.1,localhost

# ===== Database (локальная разработка без docker-compose) =====
POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# ===== Redis (локально без docker-compose) =====
REDIS_URL=redis://localhost:6379/1

# ===== Celery =====
CELERY_BROKER_URL=${REDIS_URL}
CELERY_RESULT_BACKEND=${REDIS_URL}

# ===== Sentry (опционально) =====
SENTRY_DSN=
ENV=dev
SENTRY_TRACES_SAMPLE_RATE=0.0
SENTRY_PROFILES_SAMPLE_RATE=0.0

# ===== Security toggles (dev-friendly) =====
SECURE_SSL_REDIRECT=0
SESSION_COOKIE_SECURE=0
CSRF_COOKIE_SECURE=0
